<footer>
    <div class=”footer-content”>
        <p> Powered By 02 Solutions!</p>
        <ul class=”socials”>
            <li><a href=”#”><i class=”fa fa-facebook”></i></a></li>
            <li><a href=”#”><i class=”fa fa-twitter”></i></a></li>
            <li><a href=”#”><i class=”fa fa-google-plus”></i></a></li>
            <li><a href=”#”><i class=”fa fa-youtube”></i></a></li>
            <li><a href=”#”><i class=”fa fa-linkedin-square”></i></a></li>
         </ul>
    </div>
    
     <div class=”footer-bottom”>
        <p> YASH </p>
     </div>

</footer>