<div class="blockcode fixed-bottom">
    <footer class="page-footer shadow">
      <div
        class="d-flex flex-wrap justify-content-between align-items-center mx-auto py-4"
        style="width: 80%"
      >
        <div class="d-flex flex-wrap align-items-center">
          <a href="/#" class="d-flex align-items-center p-0 text-dark">
            <!-- <img alt="logo" src="../img/logo.png" width="30px" /> -->
            <span class="ml-4 h5 mb-0 font-weight-bold">Devwares</span>
          </a>
          <span
            style="
                          font-size: 3em;
                          margin: -2rem 0px -1.5rem 1rem;
                          color: #c4c4c4;
                        "
            >&#8226;</span
          >
          <small class="ml-2">&copy; Devwares, 2020. All rights reserved.</small>
        </div>
        <div>
          <button class="btn btn-dark btn-flat p-2">
            <i class="fa fa-facebook"></i>
          </button>
          <button class="btn btn-dark btn-flat p-2">
            <i class="fa fa-twitter"></i>
          </button>
          <button class="btn btn-dark btn-flat p-2">
            <i class="fa fa-instagram"></i>
          </button>
        </div>
      </div>
    </footer>
  </div>