main{
    display: flex;
    background-color: rgba(238, 226, 226, 0.575);
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}